html,body {
margin-left: 7px;
}

#header  {
padding: 10 0 10 0px;
font-size: 20px;
color:green;

}

#subheader {
font-size: 20px;
color:green;
}

#subheader a {
font-size: 20px;
text-decoration:none;
letter-spacing: 1px;
color: #4169E1;
}

/* Выбор товара */
#content .product-detail img {
margin-left: 35px;
margin-top: 20px;
width: auto;
height: 300px;
}

#content .product-detail h1 {
color: #000;
height: auto;
width: auto;
}

#content .product-detail h2 a {
text-decoration:none;
color: #000;
}

#content .product-detail form {
font-size: 20px;
padding: 4px;
}

#content .product-detail input {
border-color: #571d8c;
border-radius: 5px;
padding: 4px;
}

#content h1 {
font: 28 Times New Roman;
}

/* Корзина и её содержимое */
.cart thead {
background-color: #4169E1;
font-family: Arial;
color: #fff;
font-size: 24px;
letter-spacing: 2px;
}

#content .body{
font-size: 17px;
background-color: #9fc0f7;
}

#content .body img {
width: 120px;
height: 150px;
}

#content .body td {
width: 150px;
padding: 10 0 10 40px
}

#content .total {
background-color: #4169E1;
letter-spacing: 2px;
font: 24px Arial;
color: #fff;
}

#content .total td{
padding: 20 0 20 30px;
}

#content .next {
float: right;
font: 20px  Arial;
letter-spacing: 1px;
}

#content .next .a {
background-color: #34D0B6;
}

#content .next a{
 padding: 10 15px;
background-color: #4169E1;
border-radius: 10px;
color: #fff;
text-decoration:none;
}

/*s Регистрация карты*/

.check {
margin: 10 0 10 20px;
font: 58px Arial;
}

.order-info {
width: 630px;
float: right;
margin: 20 70 0 0px;
background-color: #97bcf74f;
border-radius: 10px;
box-shadow: 0 4px 16px #ccc;
}
.order-info h3 {
padding: 0 280 0 30px;
font-size: 40px;
font-family: Arial;
}

.order-info li {
margin: 10 20 0 35px;
}

.order-info li span {
float: right;
}

.order-info p {
float: right;
font-size: 20px;
font-weight: 600;
margin: 70 20 30 20px;
}

.order-form {
width: 200px;
margin: 10px;
font-size: 18px;
font-style: italic;
}

.order-form p input {
padding: 10 0 10 20px;
background-color: #97bcf74f;
border-radius: 5px;
text-decoration:none;
font-size: 20px;
}

.order-form p input[type="submit"] {
background-color: #4169E1;
border: none;
font: 25px Arial;
color: #fff;
}

.order-form p input[value="Place order"] {
padding: 10 30 10 30px;
}

/* Статус заявки */
.status {
font: 30px Arial;

}
